*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.wrapper {
  position: relative;
  height: 100vh;
  background-color: #eee;
}

.weather {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50%;
  background-color: #aaa;
  border-radius: 5px;
  -webkit-box-shadow: 14px 9px 22px -15px rgba(66, 68, 90, 1);
  -moz-box-shadow: 14px 9px 22px -15px rgba(66, 68, 90, 1);
  box-shadow: 14px 9px 22px -15px rgba(66, 68, 90, 1);
}

.weather-search {
  position: relative;
  padding: 2rem 2rem;
  overflow: hidden;
}

.weather-search__input {
  float: left;
  padding: 2rem;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
}

.weather-search__icon {
  display: block;
  color: #fff;
  width: 10%;
  font-size: 4rem;
  line-height: 4.5rem;
  float: left;
  margin-left: 3rem;
  /* position: absolute; */
  /* top: 2rem;
  right: 0rem; */
}
